@import 'tailwindcss';

@theme {
  --font-sans: 'Space Grotesk', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: 'Newsreader', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: 'IBM Plex Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  button {
    cursor: pointer;
  }
}

@layer components {
  .link {
    color: var(--color-zinc-900);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: calc(var(--spacing) * 1);
    text-decoration-color: var(--color-zinc-500);
    transition: text-decoration-color var(--default-transition-duration) var(--default-transition-timing-function);

    &:hover {
      text-decoration-color: var(--color-zinc-900);
    }

    &:where(.dark, .dark *) {
      color: var(--color-zinc-100);

      &:hover {
        text-decoration-color: var(--color-zinc-100);
      }
    }
  }
}

@utility bg-prototype {
  background-image: repeating-linear-gradient(
    315deg,
    color-mix(in oklab, var(--color-zinc-700) 7%, transparent) 0,
    color-mix(in oklab, var(--color-zinc-700) 7%, transparent) 1px,
    transparent 0,
    transparent 50%
  );
  background-size: 12px 12px;
  background-attachment: fixed;

  &:where(.dark, .dark *) {
    background-image: repeating-linear-gradient(
      315deg,
      color-mix(in oklab, var(--color-zinc-300) 7%, transparent) 0,
      color-mix(in oklab, var(--color-zinc-300) 7%, transparent) 1px,
      transparent 0,
      transparent 50%
    );
  }
}

@utility size-container {
  margin-inline: auto;
  max-width: var(--container-3xl);
  width: 100%;
  padding-inline: calc(var(--spacing) * 5);
}
